@model IEnumerable<Domain.Entiteit.Sleutelwoord>
@Styles.Render("~/Content/TagMarkup.css")
<dl class="dl-horizontal">
    @foreach (var sleutelwoord in Model)
    {
        <span class="tag tag-info">
            @Html.DisplayFor(m => sleutelwoord.woord)
        </span>
        <span>
            &nbsp;
        </span>
    }
</dl>

