@model WebUI.Models.DashboardModel
@{
    Layout = null;
}
<div style="background-color:aqua">
    <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar ps ps--theme_default ps--active-y" data-ps-id="4c5a2eb6-e3a7-85b6-eb90-61cad3a7fa95">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav active">
            <ul id="sidebarnav" class="in">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span class="hide-menu">@User.Identity.Name</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/manage/updateprofile">Account Setting</a></li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                        }
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li>
                    <a class="waves-effect waves-dark" href="/Manage/Index" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                    <a class="waves-effect waves-dark" href="/Manage/AddGrafiek" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Nieuwe Grafiek</span></a>
                    <a class="waves-effect waves-dark" href="/Manage/UpdateAlerts" aria-expanded="false"><i class="mdi mdi-bell"></i><span class="hide-menu">Alerts Beheren</span></a>
                    <a class="waves-effect waves-dark" href="/Manage/VolgItems" aria-expanded="false"><i class="mdi mdi-plus"></i><span class="hide-menu">Items volgen</span></a>
                    <a class="waves-effect waves-dark" href="/Manage/GenereerReview" aria-expanded="false"><i class="mdi mdi-plus"></i><span class="hide-menu">Weekly Review</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; height: 809px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 674px;"></div></div>
    </div>
    <!-- End Sidebar scroll-->
</aside>
</div>
